@import '../../css/variables';

.navbar{
  width: 100vw;
  height: 10vh;
  z-index: 2;
  background: $primary;

  .logo{
    width: 15vw;
  }
  #userLogo{
    width: 50%;
    align-items: center;
  }
    #user{
      &:first-letter{
        text-transform: uppercase;
      }
  }
  .md-menu{
    padding: 0 !important;
  }
  .sign-out{
    transition: color .3s ease-in-out;
    &:hover{
      color: rgba($alt2, .6);
    }
  }
}